<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table border=1 style="border:solid">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Description</th>
      <th>Medical use</th>
      <th>Price</th>
      <th>Height in feet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= image_tag product.image_url %></td>
        <td><%= product.description %></td>
        <td><%= product.medical_use %></td>
        <td><%= product.price %></td>
        <td><%= product.oxygen_production_per_day_max_height_it_can_grow_in_feet %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
